version: "3.4"
services:

    firefox:
        container_name: firefox
        image: selenium/standalone-firefox
        restart: unless-stopped
        healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:4444"]
          interval: 30s
          timeout: 10s
          retries: 5

    rss-feed:
      container_name: rss-feed
      image: heathcliff
      build: ./
      depends_on:
        firefox:
          condition: service_healthy
      env_file:
        - .env
